#home_entry{
	width:100%;
}


#home_entry #titulo_entradas{
	background-color:$rosa;
	padding: 15px 0px 17px 15px;
	box-sizing:border-box;
}


#home_entry #titulo_entradas h3{
	font-size: 1.2em;
	color:$blanco;
	font-family: 'oswaldbold';
	text-transform:uppercase;
}

#home_entry #recientes{
	background-color: $blanco;
	padding: 20px;
	display:flex;
	flex-flow: row wrap;
	box-sizing:border-box;
	width: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;	
}


#home_entry #recientes .list{
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 9px;
    overflow: hidden;
    border-bottom: 1px solid #009FFF;
    text-transform: lowercase;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 33.33%;
}


#home_entry #recientes .title{
	color: $celeste;
	line-height: 1.3em;
	font-size: 1.1em;
	text-decoration:none;
	text-transform:lowercase;
	margin-left: 10px;
}

#home_entry #recientes .title:hover{
	color:$rosa;
	@include transicion_a();
}

#home_entry #recientes .title:first-letter{
	text-transform: uppercase;
}

#home_entry #recientes .thumb{
	width: 32%;
	
}

#home_entry #recientes .thumb img{
	height:auto;
	display:inline-block;
	float:left;
	margin-right:7px;
	@include sombra();
	@include borde(2px,$blanco);
	width: 90%;

}

#home_entry #recientes .thumb img:hover{
	@include opacidad(50);
	@include transicion_a();
	@include sombra_hover();
}